[loggers]
keys=root,builldkml,buildup,checkdate,dbhandler,plotter,teardown,analysis,downloadgranules,download,rundownload,modis,sentinel2,viirs,caluculatenorm,snowpathlib,objectstoreutil,run,analysis_support,process_support,earthdata,ingestlocal,download_granules_ostore_int

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_builldkml]
level=DEBUG
handlers=consoleHandler
qualname=admin.buildkml
propagate=0

[logger_buildup]
level=DEBUG
handlers=consoleHandler
qualname=admin.buildup
propagate=0

[logger_checkdate]
level=DEBUG
handlers=consoleHandler
qualname=admin.check_date
propagate=0

[logger_dbhandler]
level=DEBUG
handlers=consoleHandler
qualname=admin.db_handler
propagate=0

[logger_plotter]
level=DEBUG
handlers=consoleHandler
qualname=admin.plotter
propagate=0

[logger_teardown]
level=DEBUG
handlers=consoleHandler
qualname=admin.teardown
propagate=0

[logger_analysis]
level=DEBUG
handlers=consoleHandler
qualname=analysis.analysis
propagate=0

[logger_analysis_support]
level=DEBUG
handlers=consoleHandler
qualname=analysis.support
propagate=0

[logger_downloadgranules]
level=DEBUG
handlers=consoleHandler
qualname=download_granules.download_granules
propagate=0

[logger_download]
level=DEBUG
handlers=consoleHandler
qualname=download_granules.download
propagate=0

[logger_rundownload]
level=DEBUG
handlers=consoleHandler
qualname=download_granules.run_download
propagate=0

[logger_modis]
level=DEBUG
handlers=consoleHandler
qualname=process.modis
propagate=0

[logger_sentinel2]
level=DEBUG
handlers=consoleHandler
qualname=process.sentinel2
propagate=0

[logger_process_support]
level=DEBUG
handlers=consoleHandler
qualname=process.support
propagate=0

[logger_viirs]
level=DEBUG
handlers=consoleHandler
qualname=process.viirs
propagate=0

[logger_caluculatenorm]
level=DEBUG
handlers=consoleHandler
qualname=caluculate_norm
propagate=0

[logger_snowpathlib]
level=DEBUG
handlers=consoleHandler
qualname=admin.snow_path_lib
propagate=0

[logger_objectstoreutil]
level=DEBUG
handlers=consoleHandler
qualname=admin.object_store_util
propagate=0

[logger_run]
level=DEBUG
handlers=consoleHandler
qualname=run
propagate=0

[logger_earthdata]
level=INFO
handlers=consoleHandler
qualname=hatfieldcmr.earthdata
propagate=0

[logger_ingestlocal]
level=INFO
handlers=consoleHandler
qualname=ingest.local
propagate=0

[logger_download_granules_ostore_int]
level=INFO
handlers=consoleHandler
qualname=download_granules.download_granules_ostore_integration
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#[handler_logFileHandler]
#class=FileHandler
#formatter=consoleFormatter
#args=('%(logfilename)s',)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter
